Body {
background: transparent url("http://mdworldwide.byethost7.com/MDWorldWide_files/68775.jpg") repeat;
}

a:hover {color: #900000; font-weight:bold; text-decoration: none; } 


MSC_HeaderDescription F_Dark {
font-weight: bold;
}

.MSC_PrimaryNavFrame {
background: -webkit-gradient(linear, left top, left bottom, from(#FC1E1E), to(#910000)) no-repeat !important;
background: -moz-linear-gradient(top,  #FC1E1E,  #910000) !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FC1E1E', endColorstr='#910000') !important;

text-shadow: 0px -1px 0px #111111;
-moz-text-shadow: 0px -1px 0px #111111;
-webkit-text-shadow: 0px -1px 0px #111111;
}

.MSC_FooterFrame
{
border:
background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#555555)) !important;
background: -moz-linear-gradient(top,  #333333,  #555555) !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#555555') !important;
border: 1px solid #777777;
border-radius: 3px 3px 3px;
margin-top: 15px;
-webkit-border-radius: 3px 3px 3px;

text-shadow: 0px 1px 0px #000000;
-moz-text-shadow: 0px 1px 0px #000000;
-webkit-text-shadow: 0px 1px 0px #000000;
}
